.two-column { grid-template-columns: 0.15fr 0.6fr; } /* 0.15 + 0.6 = 0.75 */
.two-column .hl-ja { writing-mode: vertical-rl; }

@media ( min-width: 576px ) {

  .two-column { grid-template-columns: 0.30fr 0.45fr; }
  .two-column .hl-ja { writing-mode: horizontal-tb; }

}

@media ( min-width: 768px ) { .two-column { grid-template-columns: 0.3fr 0.45fr; } }
@media ( min-width: 992px ) { .two-column { grid-template-columns: 0.25fr 0.50fr; } }
@media ( min-width: 1200px ) { .two-column { grid-template-columns: 0.20fr 0.55fr; } }