/* Media hints */

/* < Extra small */
@media ( min-width: 576px ) {} /* Small */
@media ( min-width: 768px ) {} /* Medium */
@media ( min-width: 992px ) {} /* Large */
@media ( min-width: 1200px ) {} /* Extra large */

/* Colors */
html {

  --black: #47494D;
  --dark-blue: #29374D;

  --yellow: #F7D83E;
  --green: #CBF752;
  --light-blue: #3BF7DE;
  --pink: #ff575f;
  
  --yellow-low-opacity: #F7D83E50;
  --green-low-opacity: #CBF75250;
  --light-blue-low-opacity: #3BF7DE50;
  --pink-low-opacity: #ff575f50;

}

/* Font sizes */

html {

  --smaller: 12px;
  --small: 14px;
  --normal: 16px; /* html */
  --big: 20px; /* span.ja */
  --bigger: 24px; /* .hl-en */
  --huge: 28px; /* .title */
  --biggest: 20px; /* .hl-ja */

}

@media ( min-width: 576px ) { html { --biggest: 20px; }}
@media ( min-width: 768px ) { html { --biggest: 25px; }}
@media ( min-width: 992px ) { html { --biggest: 30px; }}
@media ( min-width: 1200px ) { html { --biggest: 30px; }}

/* Text decorations */

span.ja,
span.ja-wrap,
ruby,
ja-wrapper {

  font-weight: bold;
  font-size: var(--big);

}

rtc.under { ruby-position: under; }

span.ja,
span.nowrap { white-space: nowrap; }

span.pink,
ruby.pink,
ja-word.pink,
pink { color: var(--pink); }

span.pink::selection,
ruby.yellow::selection,
yellow::selection { color: var(--green); }

span.yellow,
ruby.yellow,
ja-word.yellow,
yellow { color: var(--yellow); }

.hl-ja ruby rt, .hl-ja ruby rtc { color: var(--yellow) }

/* ------------------------ Blocks ------------------------ */

html {

  width: 100%;
  height: 100%;

  font-size: var(--normal);
  font-family: '游ゴシック', sans-serif;
  color: var(--black);

  background: var(--black);

  overflow-x: hidden;

}

body {

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 3vw 0;

}

body *::selection{

  color: inherit;
  background: var(--pink);

}

body > * {

  padding: 3vw 0;

}

a {

  font-weight: bold;
  font-style: italic;
  text-shadow: 1.5px 1.5px var(--light-blue);
  user-select: none;
  white-space: nowrap;

}

a:hover {

  text-shadow: 1.5px 1.5px var(--pink-low-opacity);
  cursor: pointer;

}

a:active {

  text-shadow: 1.5px 1.5px var(--light-blue-low-opacity);

}

.top-button {

  position: fixed;
  right: 20px;
  bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 0;

  font-weight: bold;

  background: var(--light-blue-low-opacity);
  color: var(--light-blue);

  user-select: none;

}

.top-button:hover { background: var(--green-low-opacity); color: var(--green); }
.top-button:active { background: var(--yellow-low-opacity); color: var(--yellow); }

@media ( min-width: 1200px ) { .top-button { width: 55px; height: 55px; } } /* Extra large */

#table-of-contains {

  font-weight: bold;
  user-select: none;

}

#table-of-contains { grid-template-columns: 0.75fr; } /* Extra small */
@media ( min-width: 576px ) { #table-of-contains { grid-template-columns: 0.5fr; } } /* Small */
@media ( min-width: 768px ) { #table-of-contains { grid-template-columns: 0.3fr; } } /* Medium */
@media ( min-width: 1200px ) { #table-of-contains { grid-template-columns: 0.25fr; } } /* Extra large */

#table-of-contains > div { background: var(--light-blue-low-opacity); color: var(--light-blue); }
#table-of-contains > div:hover { background: var(--green-low-opacity); color: var(--green); }
#table-of-contains > div:active { background: var(--yellow-low-opacity); color: var(--yellow); }

.title {

  width: 80%;
  padding: 1vw;

  text-align: center;
  vertical-align: middle;
  font-size: var(--huge);
  font-weight: bold;

  background: var(--light-blue);

}

.table {

  display: grid;
  grid-gap: 2vw;
  justify-content: center;
  width: 100%;

}

.table > * {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  text-align: center;

  background: var(--yellow);

}

/* Sum is ~0.75fr always */

.one-column { grid-template-columns: 0.75fr; }

.two-equal-column { grid-template-columns: repeat( 2, 0.375fr ); }
.two-equal-column div.span-me,
.two-column div.span-me { grid-column: span 2; }

.three-equal-column { grid-template-columns: repeat( 3, 0.25fr ); }
.three-equal-column div.span-me,
.three-column div.span-me { grid-column: span 3; }

.four-equal-column { grid-template-columns: repeat( 4, 0.1875fr ); }
.four-equal-column div.span-me,
.four-column div.span-me { grid-column: span 4; }

.five-equal-column { grid-template-columns: repeat( 5, 0.15fr ); }
.five-equal-column div.span-me,
.five-column div.span-me { grid-column: span 5; }

.six-equal-column { grid-template-columns: repeat( 6, 0.125fr ); }
.six-equal-column div.span-me,
.six-column div.span-me { grid-column: span 6; }

.seven-equal-column { grid-template-columns: repeat( 7, 0.1071428571fr ); }
.seven-equal-column div.span-me,
.seven-column div.span-me { grid-column: span 7; }

.eight-equal-column { grid-template-columns: repeat( 8, 0.9375fr ); }
.eight-equal-column div.span-me,
.eight-column div.span-me { grid-column: span 8; }

.fifteen-equal-column { grid-template-columns: repeat( 15, 0.05fr ); }
.fifteen-equal-column div.span-me,
.fifteen-column div.span-me { grid-column: span 15; }

/* Predefined cells */

.hl-en,
.hl-en ruby {

  font-weight: bold;
  font-size: var(--bigger);

}

.hl-ja,
.hl-ja ruby {

  font-weight: bold;
  font-size: var(--biggest);

  background: var(--light-blue-low-opacity);
  color: var(--light-blue);

}

.hl-ja-like {

  background: var(--light-blue-low-opacity);
  color: var(--light-blue);

}

.hl-ja ruby { background: initial; }

div.yellow { background: var(--yellow) !important; }
div.green { background: var(--green) !important; }
div.light-blue { background: var(--light-blue) !important; }
div.pink { background: var(--pink) !important; }

div.yellow-low-opacity { background: var(--yellow-low-opacity) !important; }
div.green-low-opacity { background: var(--green-low-opacity) !important; }
div.light-blue-low-opacity { background: var(--light-blue-low-opacity) !important; }
div.pink-low-opacity { background: var(--pink-low-opacity) !important; }

/*
@media ( max-width: 768px ) { .hl-ja {

  writing-mode: vertical-rl;

}}*/