html {

  width: 100%;
  height: 100%;

  --dark-blue: #29374D;
  --pink: #FC6656;

  --yellow: #F7D83E;
  --light-blue: #3BF7DE;
  --black: #47494D;
  --green: #CBF752;

  --html-color: var(--black);
  --font-color: var(--black);

  font: 14px "Helvetica", sans-serif;
  color: var(--font-color);

  background: var(--html-color);

  overflow-x: hidden;

  /* user-select: none; */

}

body {

  margin: 0px;
  width: 100%;
  height: 100%;
  
}