html {

  width: 100%;
  height: 100%;

  --dark-blue: #29374D;
  --pink: #ff575f;

  --yellow: #F7D83E;
  --light-blue: #3BF7DE;
  --black: #47494D;
  --green: #CBF752;

  font-size: 16px;
  font-family: '游ゴシック', sans-serif;
  color: var(--black);

  background: var(--black);

  overflow-x: hidden;

  /* user-select: none; */

}

body {

  margin: 0px;
  width: 100%;
  height: 100%;
  
}

/* Tables */

.table {

  display: grid;
  grid-gap: 2vw;
  justify-content: center;
  /* grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr; */

}

.table > div {

  display: inline-flex;
  justify-content: center;
  align-items: center;
  /*margin: auto;*/
  padding: 10px;

}

.bold { font-weight: bold;  }
.big { font-size: 24px;  }

span:lang(ja) {

  white-space: nowrap;
  font-weight: bold;
  font-size: 20px;
  quotes: "\300C" "\300D";

}

span:lang(ja):before { content: open-quote; }
span:lang(ja):after { content: close-quote; }

.yellow-cell { background: var(--yellow) !important; }
.yellow-table > div { background: var(--yellow); }

.light-blue-cell { background: var(--light-blue) !important; }
.light-blue-table > div { background: var(--light-blue); }

.pink-cell { background: var(--pink) !important;  }
.pink-table > div { background: var(--pink);  }

.green-cell { background: var(--green) !important;  }
.green-table > div { background: var(--green);  }

.title-like-cell {

  background: var(--yellow) !important;
  font-size: 30px;
  font-weight: bold;

}